<agm-map [(latitude)]="location.lat" 
  [(longitude)]="location.lng" 
  [(zoom)]="location.zoom" 
  [disableDefaultUI]="true" 
  (mapReady)="mapReady($event)">
  (mapClick)='mapClicked($event)'
  [(fitBounds)]='location.viewport'>
    <agm-polyline   [strokeColor]="color">
      <agm-polyline-point *ngFor="let location of locations; let i = index" [latitude]="location.lat" [longitude]="location.lng">
      </agm-polyline-point>
  </agm-polyline>
  <app-time-dim id="time-dim" style="width: 500px;" (timeChanged)="timeChanged($event)" ></app-time-dim>

  <!--<agm-marker-cluster (click)="xx()" [zoomOnClick]="false"
  imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">-->
    <agm-marker 
      *ngFor="let location of locations; let i = index"
      [(latitude)]="location.lat" 
      [(longitude)]="location.lng"
      (markerClick)="clickedMarker(location.label, i)"
      [label]="location.label"
    
      (dragEnd)='markerDragEnd($event)'>

      <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
        <ng-template>
            <style type="text/css">
              .tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
              .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
              .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
              .tg .tg-3pun{font-size:12px;border-color:inherit;text-align:left}
              .tg .tg-73a0{font-size:12px;border-color:inherit;text-align:left;vertical-align:top}
              .tg .tg-0lax{text-align:left;vertical-align:top}
              @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
              <div class="tg-wrap"><table class="tg">
                <tr>
                  <th class="tg-3pun">ID</th>
                  <th class="tg-73a0">Score</th>
                  <th class="tg-0lax">DESC</th>
                  <th class="tg-0lax">Date</th>
                </tr>
                <tr>
                  <td class="tg-73a0"><a href="http://www.google.com/?q={{location.id}}" target="_parent"> {{location.id}}</a></td>
                  <td class="tg-73a0">{{location.score}}</td>
                  <td class="tg-0lax">{{location.desc}}</td>
                  <td class="tg-0lax">{{location.time}}</td>
                </tr>
              </table></div>
          
        </ng-template>
      </agm-snazzy-info-window>
      </agm-marker>
    <!-- </agm-marker-cluster> -->
</agm-map>

